*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
    background-image: linear-gradient(to right, wheat, #e7e6e4, wheat);
    width: 100vw;
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

h1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    font-size: 3rem;
    background-color: rgb(19, 102, 19);
    color: white;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#corpoToDo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 20px;
    min-height: 20vh;
    padding: 20px;
    width: 60vw;
    background-color: rgb(19, 102, 19);
    z-index: 2;
}

header{
    display: flex;
    height: 15vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#adicionar{
    cursor: pointer;
    background-color: wheat;
    color: black;
    border: 3px solid black;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

#adicionar:hover{
    background-color:  rgb(231, 191, 116);
    transform: scale(1.1);
}

#adicionar:active{
    transform: scale(0.9);
}

#inputTarefa{
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    width: 500px;
    height: 50px;
    border: 3px solid black;
}

#lista{
    list-style: none;
    z-index: 2;
}

.itemLista{
    background-color: rgb(231, 191, 116);
    padding: 10px 20px;
    min-width: 40vw;
    min-height: 3vh;
    text-align: center;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.3rem;
    border: 3px solid black;
    transition: transform 0.5s ease;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.itemLista:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.conteudoTarefa{
    display: flex;
    align-items: center;
}

.fechar{
    color: rgb(5, 70, 5);
    font-weight: bolder;
    font-size: 1.7rem;
}

.concluir{
    transition: transform 0.5s ease;
}

.concluir:hover{
    transform: scale(1.2);
}

.concluir:active{
    transform: scale(0.9);
}

#entradaTarefa{
    display: flex;
    gap: 20px;
}

.numeroTarefa{
    margin: 0;
    padding: 0;
    width: fit-content;
    font-size: 1.3rem;
}

#circulos{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    pointer-events: none;
    position: fixed;
}

.circulo{
    border-radius: 50%;
    position: absolute;
    background-color: rgba(19, 102, 19, 0.25)
}

#circulo1{
    width: 400px;
    height: 400px;
    top: 10%;
    left: 5%;
}

#circulo2 {
    width: 200px;
    height: 200px;
    top: 40%;
    right: 10%;
}

#circulo3 {
    width: 250px;
    height: 250px;
    top: 70%;
    right: 40%;
}